# Binaries
*.log
# Logs

Thumbs.db
.DS_Store
# OS

.env
.env.*.local
.env.local
.env.docker
# Environment

*~
*.swo
*.swp
.vscode/
.idea/
# IDE

frontend/node_modules/
frontend/dist/
# Build output

vendor/
node_modules/
# Dependency directories

*.out
# Output of the go coverage tool

*.test
# Test binary, built with `go test -c`

*.dylib
*.so
*.dll
*.exe~
*.exe

!frontend/src/lib
cmd/server/frontend/

firebase_key.json

/server
/migrate
